<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'community:index' %}">HOMETOWN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community:index' %}">INDEX</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community:create' %}">CREATE</a>
  </li>
  {% if request.user.is_authenticated %}
    <li>
      <a class="nav-link" onclick = "return confirm('로그아웃하시겠습니까?')" href="{% url 'accounts:logout' %}">LOGOUT</a>
    </li>
  {% else %}
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        LOGIN or SIGNUP
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">LOGIN</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">SIGNUP</a></li>
      </ul>
    </li>
  {% endif %}
</ul>