<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h4 class="display-4 fw-bold">SSATCHA</h4>
                            <p class="text-muted mb-4">CREATE ACCOUNT</p>
                            <form class="accounts-form">
                                <div class="form-group mb-3">
                                    <input id="username" type="text" v-model="signupData.username" placeholder="username" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                               <div class="form-group mb-3">
                                    <input id="nickname" type="text" v-model="signupData.nickname" placeholder="nickname" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="email" type="email" v-model="signupData.email" placeholder="email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password1" type="password" v-model="signupData.password1" placeholder="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password2" type="password" v-model="signupData.password2" placeholder="confirm password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="button-set">
                                  <SignupGenreSelect @like-genres="onSelect"/>
                                </div>
                                <button type="submit" @click="signup(signupData)" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">SIGN UP</button>
                                
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div>
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
<!-- End -->
    </div>
<style>
html,
body {
  height: 100%;
}
body {
  display: grid;
}
.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #4285f4;
}
#cbx:checked + .check svg {
  stroke: #4285f4;
}
#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

</style>